<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="realsense_enabled" default="false"/>

  <include file="$(find husky_gazebo)/launch/outdoor.launch" />

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
  </include>

  

</launch>
